.container-registro {
    width: 100%;
    height: 100vh;
    background-image: url("../img/fondo_01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.container-registro::after {
    content: '';
    position: absolute;
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
    mix-blend-mode: screen;
}

.container {
    position: relative;
    z-index: 3;
}

.content-container {
    background-color: #fff;
    padding: auto;
}